body{
    background: #111;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 100vh;
}

.adjacent-element {
    justify-self: end;
}

.center-container {
    justify-self: center;
}

canvas{
    background: #222;
}